.textClass {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes color_change {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes color_change {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes color_change {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes color_change {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.facebook {
    
}

.facebook {
    visibility: hidden;
}

.facebook:after {
    content: 'Loading';
}